{% extends 'blogApp/index.html' %} {% load static %} {% block content %}


<div class="container">

    <div class="widget search">
        <aside class="col-lg-4">
            <header>
                <h3 class="h6">Search the blog</h3>
            </header>
            <form action="#" class="search-form">
                <div class="form-group">
                    <input type="search" placeholder="What are you looking for?">
                    <button type="submit" class="submit"><i class="icon-search"></i></button>
                </div>
            </form>
    </div>
    <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8">
            <div class="container">
                <div class="row">
                    <!-- post -->
                    {% for blog in blogs %}
                    <div class="post col-xl-6">
                        <div class="post-thumbnail">
                            <a href="{% url 'detail' blog.id%}"><img src="{{ blog.image.url }}" alt="..." class="img-fluid"></a>
                        </div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date meta-last">{{ blog.date }}</div>
                                <div class="category"><a href="#">{{ blog.description }}</a></div>
                            </div>
                            <a href="{% url 'detail' blog.id%}">
                                <h3 class="h4">{{ blog.title }}</h3>
                            </a>
                            <p class="text-muted">{{ blog.post |striptags|truncatechars:150|linebreaks }}</p>
                            <footer class="post-footer d-flex align-items-center">
                                <a href="" class="author d-flex align-items-center flex-wrap">
                                    <!-- <div class="avatar"><img src="{% static 'img/avatar-3.jpg' %}" alt="..." class="img-fluid"></div> -->
                                    <div class="title"><span>{{ blog.author }}</span></div>
                                </a>
                                <div class="date"><i class="icon-clock"></i> {{ blog.date }}</div>
                                <div class="comments meta-last"><i class="icon-comment"></i>({{ blog.comments.count}})</div>
                            </footer>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
        <aside class="col-lg-4">

            <!-- Widget [Latest Posts Widget]        -->
            <div class="widget latest-posts">
                <header>
                    <h3 class="h6">Latest Posts</h3>
                </header>
                <div class="blog-posts">
                    {% for blog in latest_blogs %}
                    <a href="{% url 'detail' blog.id%}">
                        <div class="item d-flex align-items-center">
                            <div class="image"><img src="{{ blog.image.url }}" alt="..." class="img-fluid"></div>
                            <div class="title"><strong>{{ blog.title }}</strong>
                                <div class="d-flex align-items-center">
                                    <!-- <div class="views"><i class="icon-eye"></i> 500</div> -->
                                    <div class="comments"><i class="icon-comment"></i>--{{ blog.comments.count}}--</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </aside>
    </div>
</div>
{% endblock %}