/* your styles go here */

#rounded {
    border-radius: 20px;
}

footer.main-footer .copyrights {
    background: #090909;
    margin-top: 0px !important;
}

.rating {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
}

.like,
.dislike {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.dislike:hover,
.like:hover {
    color: #2EBDD1;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.active {
    color: #2EBDD1;
}


/* ///////////////////////////////////////////////////////
/////////////// Social Icons Styles //////////////////
/////////////////////////////////////////////////////// */

.Share {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
}

@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
    top: 90%;
    left: -110%;
}

.social-btns .btn .fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.social-btns .btn.facebook:before {
    background-color: #3b5998;
}

.social-btns .btn.facebook .fa {
    color: #3b5998;
}

.social-btns .btn.twitter:before {
    background-color: #3cf;
}

.social-btns .btn.twitter .fa {
    color: #3cf;
}

.social-btns .btn.instagram:before {
    background-color: #e4405f;
}

.social-btns .btn.instagram .fa {
    color: #e4405f;
}

.social-btns .btn.whatsapp:before {
    background-color: #25d366;
}

.social-btns .btn.whatsapp .fa {
    color: #25d366;
}

.social-btns .btn.skype:before {
    background-color: #00aff0;
}

.social-btns .btn.skype .fa {
    color: #00aff0;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.social-btns {
    /* height: 50px; */
    /* margin: auto; */
    display: flex;
    font-size: 0;
    text-align: center;
    position: relative;
    /* top: 0; */
    /* bottom: 0; */
    margin: 20px;
    padding: 20px;
    left: 0;
    right: 0;
}

.social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 80px;
    height: 80px;
    line-height: 90px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
}

.social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.social-btns .btn .fa {
    font-size: 38px;
    vertical-align: middle;
}

@media screen and (max-width: 780px) {
    #primary {
        max-width: 100%;
    }
    #secondary {
        max-width: 100%;
        margin-left: 0%;
    }
    #change {
        /* display: none !important; */
        position: relative;
        max-width: 100%;
    }
    .Share {
        max-width: 100%;
        display: grid;
        left: 0;
        position: relative;
    }
    .social-btns {
        /* height: auto; */
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        font-size: 0;
        text-align: center;
        position: relative;
        /* top: 0; */
        /* bottom: 0; */
        margin: 20px;
        padding: 20px;
        left: 0;
        margin-left: -40px;
    }
    .social-btns .btn:focus:before,
    .social-btns .btn:hover:before {
        top: -10%;
        /* left: -10%; */
    }
}